@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  color: white;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

body {
  background: rgb(30, 30, 30);
}

.btn {
  padding: 10px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background: rgb(248, 217, 15);
  color: #222;
  border: 1px solid #fff;
  font-weight: 600;
  cursor: pointer;
}

.btn-light {
  background: transparent;
  color: #fff;
}

.btn:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  transition: 0.3s;
}

.my-card-title {
  color: white;
}

.contact-con {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
